* text=auto

*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.txt text eol=lf
*.ts text eol=lf
*.ps1 text eol=crlf

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.qm binary
*.xlsx binary
*.db binary
